.date-range {
    padding-bottom: 30px;
}

form {
    padding-left: 20px;
    padding-right: 20px;
}

mat-form-field {
    width: 100%;
}

button.small {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mat-icon {
    font-size: 18px;
}