mat-cell, .mat-mdc-cell {
    // min-height: auto; // overrides the 'inherit' that set the min height of the row
    padding: 8px 10px 8px 2px;
    font-size: 13px;
}

.mat-icon {
    font-size: 18px;
}

table {
    max-width: 380px
}

div.container {
    background-color: #303030;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 10px;

    border-width: 0.4vw;
    border-style: solid;
    border-image-source: url('../../../../assets/images/border.svg');
    border-image-slice: 20%;
    border-image-outset: 3.5;
    border-image-width: 8;
}

@media (max-width: 500px) {
    div.container {
        background-color: #303030;
        margin-left: 5px;
        margin-right: 6px;
        margin-top: 12px;
        margin-bottom: 10px;
    
        border-width: 0.9vw;
        border-style: solid;
        border-image-source: url('../../../../assets/images/border.svg');
        border-image-slice: 20%;
        border-image-outset: 3.5;
        border-image-width: 8;
    }
}

.mat-expansion-panel {
    background-color: #303030;
    border: 2px solid #80300c;
}

// Avoid default word wrapping of title
::ng-deep .mat-expansion-panel-header-title {
    flex-basis: auto !important;
}

// Change default padding
::ng-deep .mat-expansion-panel-body {
    padding: 0 8px 16px !important;
}
::ng-deep .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 2px 0 2px;
}

th {
    font-size: 11px;
}

.empty-info {
    font-size: 12px;
}