<mat-expansion-panel id="{{ 'panel-' + house.id }}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{house.name}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <table mat-table [dataSource]="bookings" class="mat-elevation-z8 demo-table">
        <!-- bookingId Column -->
        <ng-container matColumnDef="bookingId">
          <th mat-header-cell *matHeaderCellDef>bookingId</th>
          <td mat-cell *matCellDef="let element">{{element.bookingId}}</td>
        </ng-container>
      
        <!-- userId Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>userId</th>
          <td mat-cell *matCellDef="let element">{{element.userId}}</td>
        </ng-container>
      
        <!-- fromDate Column -->
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell *matHeaderCellDef>fromDate</th>
          <td mat-cell *matCellDef="let element">{{element.fromDate}}</td>
        </ng-container>
      
        <!-- toDate Column -->
        <ng-container matColumnDef="toDate">
          <th mat-header-cell *matHeaderCellDef>toDate</th>
          <td mat-cell *matCellDef="let element">{{element.toDate}}</td>
        </ng-container>
      
        <!-- house Column -->
        <ng-container matColumnDef="house">
          <th mat-header-cell *matHeaderCellDef>house</th>
          <td mat-cell *matCellDef="let element">{{element.house}}</td>
        </ng-container>
      
        <!-- guestDetails Column -->
        <ng-container matColumnDef="guestDetails">
          <th mat-header-cell *matHeaderCellDef>guestDetails</th>
          <td mat-cell *matCellDef="let element">{{element.guestDetails}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
</mat-expansion-panel>