.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 130px;
}

.sidenav .mat-line {
  font-size: 80%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar.mat-primary {
  background-color: #303030;
  max-height: 18px;
}

mat-sidenav.mat-drawer.mat-sidenav.sidenav {
  background-color: #303030;
  background-image: url('../../assets/images/side-border.svg');
  background-size: cover;
  min-width: 175px;
  padding-left: 12px;
  padding-right: 12px;
}

h2.page-title {
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.mat-drawer-side {
  border-right: 0px;
}

// Change white background of menu items on selection
::ng-deep .mat-mdc-list-item-interactive::before {
  background: #303030;
}

// Disable white ripple effect of icons in menu
::ng-deep .mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: none;
  --mat-mdc-button-ripple-color: rgba(255, 255, 255, 0.1);
}

// Vertical align the menu text with icons
a {
  vertical-align: super;
}