<div class="container">
    <mat-accordion 
        *ngIf="!loading; else spinner"
        class="example-headers-align"
        multi="false">
        <app-house-card
            *ngFor="let house of houses"
            [house]="house"
            [bookings]="(filterBookings(house) | async)!"
            [currentUser]="currentUser$ | async"
            (cardOpened)="houseSelected(house)"
            (cardClosed)="clearSelectedHouse(house)"
            (createBooking)="newBooking($event)"
            (updateBooking)="updateBooking($event)"
            (deleteBooking)="deleteBooking($event)">
        </app-house-card>
    </mat-accordion>

    <ng-template #spinner>
        <div 
            class="spinner-container"
            fxLayout="row"
            fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>