<div class="container">
  @if (!loading) {
    <mat-accordion
      class="example-headers-align"
      multi="false">
      @for (house of houses; track house) {
        <app-house-card
          [house]="house"
          [bookings]="(filterBookings(house) | async)!"
          [currentUser]="currentUser$ | async"
          (cardOpened)="houseSelected(house)"
          (cardClosed)="clearSelectedHouse(house)"
          (createBooking)="newBooking($event)"
          (updateBooking)="updateBooking($event)"
          (deleteBooking)="deleteBooking($event)">
        </app-house-card>
      }
    </mat-accordion>
  } @else {
    <div
      class="spinner-container"
      fxLayout="row"
      fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  }

</div>