div {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

@media (max-width: 500px) {
    div {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
}

.overlay-spinner {
    margin-top: -30%;
    margin-left: 20%;
}