<div *ngIf="!loading; else spinner">
    <mat-grid-list cols="3" rowHeight="1:1.3">
        <mat-grid-tile 
            *ngFor="let sighting of sightings">
            <mat-card appearance="outlined" class="sighting-card" >
                <mat-card-header>
                <div mat-card-avatar class="sighting-header-image"></div>
                <mat-card-title>{{ sighting.taxon.common_name ? sighting.taxon.common_name.name : "Unidentified" }}</mat-card-title>
                <mat-card-subtitle>{{ sighting.iconic_taxon.name }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="sighting.photos[0].medium_url" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    <!-- <mat-chip-listbox aria-label="Fish selection"> -->
                        <!-- <mat-chip-row>One fish</mat-chip-row>
                        <mat-chip-row>Two fish</mat-chip-row>
                        <mat-chip-row color="accent" selected>Accent fish</mat-chip-row>
                        <mat-chip-row color="warn">Warn fish</mat-chip-row> -->
                      <!-- </mat-chip-listbox> -->
                    Date:
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</div>

<ng-template #spinner>
    <div 
        class="spinner-container"
        fxLayout="row"
        fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>