@use '@angular/material' as mat;

@include mat.core();

$mat-custom-dark-green: (
    50: #e4ede2,
    100: #bdd3b9,
    200: #94b78e,
    300: #6d9d63,
    400: #528b46,
    500: #b95f42,
    600: #2f6d22,
    700: #255d1a,
    800: #1c4d12,
    900: #0d3102,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #528b46,
    A700: #1c4d12,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: black,
        A200: black,
        A400: black,
        A700: white,
    )
);

$mat-custom-orange: (
    50: #fff2df,
    100: #fedcb1,
    200: #fdc67e,
    300: #fbaf4b,
    400: #fa9d26,
    500: #f98d05,
    600: #f58106,
    700: #ef7208,
    800: #e86208,
    900: #de4609,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #e86208,
    A700: #de4609,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: black,
        A200: black,
        A400: black,
        A700: white,
    )
);


// $my-app-primary: mat-palette($mat-custom-dark-green);
// $my-app-accent:  mat-palette($mat-custom-orange, 500, 900, A100);
// $my-app-warn:    mat-palette($mat-deep-orange);

$my-app-primary: mat.define-palette($mat-custom-dark-green);
$my-app-accent:  mat.define-palette($mat-custom-orange, 500, 900, A100);
$my-app-warn:    mat.define-palette(mat.$deep-orange-palette);



// Variable that combines our color definitions with the mat-light-dark function
// $my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
// @include angular-material-theme($my-app-theme);
// @include mat.core-theme($my-app-theme);

$my-app-theme: mat.define-dark-theme((
 color: (
   primary: $my-app-primary,
   accent: $my-app-accent,
   warn: $my-app-warn,
 ),
));

@include mat.all-component-themes($my-app-theme);
