﻿
<div class="menu-container">
  <div class="menu-options-container">
    <mat-grid-list #grid [cols]="cols" rowHeight="20:13" gutterSize="7vh">
      <mat-grid-tile class="frame" routerLink='/bookings'>
        <div class="menu-image">
          <img src="./assets/images/bookings-min.png"><img>
        </div>
        <mat-grid-tile-footer>
          Manage Bookings
        </mat-grid-tile-footer>
      </mat-grid-tile>

      <mat-grid-tile class="frame" routerLink='/sightings'>
        <div class="menu-image">
          <img src="./assets/images/sightings-min.png"><img>
        </div>
        <mat-grid-tile-footer>
          View Sightings
        </mat-grid-tile-footer>
      </mat-grid-tile>

      <mat-grid-tile class="menu-info-tile">
        <table>
          <tr>
            <td>
              <mat-icon>emoji_objects</mat-icon>
            </td>
          </tr>
          <tr>
            <td>
              Information
            </td>
          </tr>
        </table>
        <table (click)="logOut();">
          <tr>
            <td>
              <mat-icon>door_back</mat-icon>
            </td>
          </tr>
          <tr>
            <td>
              Log Out
            </td>
          </tr>
        </table>

      </mat-grid-tile>

      <mat-grid-tile class="frame" routerLink='/trails-map'>
        <div class="menu-image">
          <img src="./assets/images/trails-map-min.png"><img>
        </div>
        <mat-grid-tile-footer>
          Trails Map
        </mat-grid-tile-footer>
      </mat-grid-tile> 

    </mat-grid-list>
  </div>
</div>